<html>

<head></head>

<body>
    <div role="main">
        <span>
            {{title}} app is runing 
        </span>
        <div style="width:20%;">
            <ul>
                <li>
                    <a href="altaClientes">ALTA CLIENTES</a>
                </li>
                <li>
                    <a href="listadoClientes">LISTA CLIENTES</a>
                </li>
            </ul>
        </div>

        <router-outlet style="width:80%;"></router-outlet>
        <footer></footer>


    </div>
</body>

</html>